In [1]:
import pandas as pd
from scipy.interpolate import lagrange

In [2]:
outputFile = 'data/missing_data_processed.xls'

In [4]:
data = pd.read_excel('data/missing_data.xls', header=None)
data.head()

          0         1         2
0  235.8333  324.0343  478.3231
1  236.2708  325.6379  515.4564
2  238.0521  328.0897  517.0909
3  235.9063       NaN  514.8900
4  236.7604  268.8324       NaN

In [9]:
# 定义插值操作
# S为列向量，n为插值位置，k为缺失值前后取几个值
def ployinterp_column(s, n, k=5):
    # 取前后位置的值
    y = s[list(range(n-k, n)) + list(range(n, n+k+1))]
    # 如果取值中有空值，直接舍弃
    y = y[y.notnull()]
    return lagrange(y.index, list(y))(n)

In [11]:
# 找到需要插值的位置进行插值
for i in data.columns:
    for j in range(len(data)):
        if (data[i].isnull())[j]:
            data[i][j] = ployinterp_column(data[i], j)

In [15]:
data.to_excel(outputFile, header=None, index=False)